@import "tailwindcss";

@theme {
    --color-graphite: #353535;
    --color-graphite-dark: #111217;
    --color-stormy-teal: #3c6e71;
    --color-white: #ffffff;
    --color-alabaster-grey: #d9d9d9;
    --color-yale-blue: #284b63;

    --font-family-sans: "Inter", sans-serif;
    --font-family-mono: "Roboto Mono", monospace;

    --font-size-xs: 0.75rem;
    --font-size-xs--line-height: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-sm--line-height: 1.25rem;
    --font-size-base: 1rem;
    --font-size-base--line-height: 1.5rem;
    --font-size-lg: 1.5rem;
    --font-size-lg--line-height: 2rem;
    --font-size-xl: 2rem;
    --font-size-xl--line-height: 2.5rem;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    width: 100%;
}

#bg-grid-pattern {
    background-image: linear-gradient(to right, #ffffff05 1px, transparent 1px), linear-gradient(to bottom, #ffffff05 1px, transparent 1px);
    background-size: 40px 40px;
    transform: rotate(35deg)
}

